.experience {
    padding: 100px 12%;
    background: #1b1919;
    color: #fff;
  }
  
  .experience h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
  }
  
  .exp-card {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 30px;
  }
  
  .exp-card span {
    color: #00f0ff;
    font-size: 14px;
  }
  
  .exp-card p {
    color: #ccc;
    margin-top: 10px;
  }
  