.skills {
    padding: 100px 12%;
    background: #0f0f0f;
    color: #16dffa;
    text-align: left;
  }
  
  .skills p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
  }
 

  .skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    margin-top: 40px;
  }
  
  .skill-box {
    padding: 14px;
    border-radius: 12px;
    background: rgba(0, 240, 255, 0.08);
    border: 1px solid rgba(0, 240, 255, 0.2);
    color: #00f0ff;
    font-size: 14px;
  }
  